@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "_variables";

* {
    
}

body {
    overflow-x: hidden;
}

h1,h2,h3,h4 {
    color: $yellow;

    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

p,ul,li {
    color: $brown1;

    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: $brown3;
}
