@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');




.list {
    list-style-type: none;
    padding-left: 1vw;
    margin: 0.5vh 0;
}

.link {
    text-decoration: none;
    text-wrap: nowrap;
    color: $grey4;
    font-size: 1rem;
    font-weight: 600;

    background-color: #FFF;

    border-radius: 10px;

    padding: 1.5px 15px;
    margin: 3px 0;
    
    display: flex;

    width: 75%;

    transition: 0.1s;

    &:hover {
        color: #FFF;
        text-shadow: none;

        background-color: $blue;

        transition: 0.1s;

        img {
            filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(10deg) brightness(117%) contrast(103%);

            transition: 0.1s;
        }
    }
}

.active {
    background-color: $red;
    color: #FFF;

    &:hover {
        background-color: $red;
    }
}

.title {
    color: $grey2;
    text-shadow: 0px 2px 2px $yellow;

    margin: 1.5vh 0;

    a {
        color: $grey3;
    }
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-right: 2px solid $grey1;

    width: fit-content;
    height: 99vh;
    min-height: 200px;
    overflow: auto;

    padding: 0.5vh 1vw 0.5vh 1.5vw;

    position: sticky;
    top: 0;
    left: 0;

    h1 {
        font-size: 2rem;
        a {
            text-decoration: none;
        }
    }
    
    h2 {
        font-size: 1.5rem;
    }
}

.navBot {
    a {
        display: flex;
        justify-content: center;

        font-size: 1.2rem;

        p {
            margin: 1vh 0.5vw;
        }
    }
}
.icon {
    max-width: 2vw;
}
.section {
    padding-left: 1vw;
}