@import "_variables";

body {
    display: flex;
}

.page {
    margin-left: 50px;
    margin-bottom: 50px;

    max-width: 70vw;
}

//* markdown styling

// .markdown-alert {
//     background-color: $grey4;

//     p {
//         color: $grey3;
//     }
// }

// a {
//     color: $brown1;
//     text-decoration: none;

//     &:hover {
//         text-decoration: underline;
//     }
// }
