.list {
    list-style-type: none;
    padding-left: 1vw;
    margin: 0.5vh 0;
}

.link {
    text-decoration: none;
    text-wrap: nowrap;
    color: var(--grey4);
    font-size: 1rem;
    font-weight: 600;

    background-color: #fff;

    border-radius: 10px;

    padding: 1.5px 15px;
    margin: 3px 0;

    display: flex;

    width: 75%;

    transition: 0.1s;
}

.link:hover {
    color: #fff;
    text-shadow: none;

    background-color: var(--blue);

    transition: 0.1s;

    .icon {
        filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(10deg) brightness(117%) contrast(103%);

        transition: 0.1s;
    }
}

.active {
    background-color: var(--red);
    color: #fff;
}

.active:hover {
    background-color: var(--red);
}

.title {
    color: var(--grey2);
    text-shadow: 0px 2px 2px var(--yellow);

    margin: 1.5vh 0;

    .titleA {
        color: var(--grey3);
    }
}

.navbar {
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 94vh;
    min-height: 200px;
    overflow: scroll;
    overflow-x: hidden;

    padding: 0.5vh 1vw 0.5vh 1.5vw;

    position: fixed;
    top: 200%;
    left: 0;

    .titleH {
        font-size: 2rem;
        .titleA {
            text-decoration: none;
        }
    }

    .title {
        font-size: 1.5rem;
    }
}

.activeNavbar {
    transition: 0.5s;

    top: 0;
    background-color: #fff;
}

.navBot {
    position: relative;

    /* width: fit-content; */
    .link {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;

        .p {
            margin: 1vh 0.5vw;
        }
    }
}
.icon {
    max-width: 5vw;
}
.section {
    padding-left: 1vw;
}

.navMobileBot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid var(--grey1);

    background-color: #fff;
}

.navMobileButton {
    border: 1px solid var(--grey1);
    border-radius: 6px;
    background-color: #fff;

    height: 4vh;

    color: var(--grey2);
    font-size: 0.6rem;
}

@media only screen and (min-width: 768px) {
    .navbar {
        position: sticky;
        top: 0;

        width: fit-content;
        height: 99vh;

        overflow: hidden;

        border-right: 2px solid var(--grey1);
    }

    .navBot {
        position: absolute;
        bottom: 4px;
       left: 10px;
        width: 100%;
    }

    .icon {
        max-width: 2vw;
    }

    .navMobileBot {
        display: none;
    }
}
