@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.body {
    display: flex;
    margin: 0;

    * {
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
    }
}

.page {
    margin-left: 50px;
    margin-bottom: 50px;

    max-width: 70vw;
}
