.top {
    flex-direction: column;
    height: 20vh;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botmid {
    flex-direction: column;

    a {
        text-decoration: none;
    }

    p {
        margin: 5px;
    }
}