@import "_variables";

.title {
    &-wrapper {
        display: flex;
        justify-content: center;

        padding-top: 10vh;
    }

    &-text {
        margin: 10px 0px;
        font-size: 250%;
    }
}

.subtitle {
    &-wrapper {
        display: flex;
        justify-content: center;
    }

    &-text {
        font-size: 150%;
    }
}