.installLinkComponent {
    width: 40%;
    height: fit-content;

    margin: 20px;

    border-radius: 20px;
    border: 2px solid var(--grey1);

    overflow: hidden;

    .title {
        text-align: left;
        margin-left: 5%;

        font-weight: 500;
        font-size: 150%;
    }

    .command {
        text-align: left;
        margin-left: 5%;
    }

    .wrapper {
        display: flex;
        justify-content: center;

        background-color: var(--grey1);
        height: 23%;
        width: 100%;

        margin: 0;
        border-bottom: dashed;
    }

    .command {
        font-family: "Space Mono", monospace;
        font-weight: 400;
        font-style: normal;

        color: #fff;

        height: fit-content;
        width: fit-content;
    }

    .icon {
        transition: 0.2s;

        filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(10deg) brightness(117%) contrast(103%);

        opacity: 0.5;

        width: 15px;
        position: relative;
        bottom: 20%;
    }

    .icon:hover {
        transition: 0.2s;

        opacity: 1;

        cursor: pointer;
    }
}

@media only screen and (min-width: 768px) {
    .installLinkComponent {
        width: 22%;
    }
}

.link {
    margin: 0px 0.5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
}

.linkIcon {
    transition: transform 0.2s;

    height: 5vh;
}

.linkIcon:hover {
    animation-name: rotate;
    animation-duration: 1s;
}

.commandWrapper {
    display: flex;
    align-items: center;

    background-color: var(--grey1);
    height: 5vh;
    width: 100%;

    margin: 0;
}

.linksWrapper {
    display: flex;

    height: 7vh;
    width: 100%;
    margin: 0;
}

.topWrapper {
    display: flex;
    align-items: center;
}

.techIcon {
    height: 5vh;
    margin: 0px 0.5vh;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
