@import "_variables";

.InstallLinkComponent {
    width: 25vw;
    height: fit-content;

    margin: 20px;

    border-radius: 20px;
    border: 2px solid $grey1;

    overflow: hidden;

    & .title {
        text-align: left;
        margin-left: 5%;

        font-weight: 500;
        font-size: 150%;
    }

    & .command {
        text-align: left;
        margin-left: 5%;
    }

    .wrapper {
        display: flex;
        justify-content: center;

        background-color: $grey1;
        height: 23%;
        width: 100%;

        margin: 0;
        border-bottom: dashed;
    }

    & .command {
        font-family: "Space Mono", monospace;
        font-weight: 400;
        font-style: normal;

        color: #FFF;
        

        height: fit-content;
        width: fit-content;
    }
    & .icon {
        transition: 0.2s;

        opacity: 0;

        width: 15px;
        position: relative;
        bottom: 20%;

        &:hover {
            transition: 0.2s;

            opacity: 1;
            
            cursor: pointer;
        }
    }
}

.link {
        
    //margin: 0px 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;

    &-icon {
        transition: transform 0.2s;
        
        height: 5vh;

        &:hover {
            animation-name: rotate;
            animation-duration: 1s;
            //animation-iteration-count: infinite;
        }
    }
}

.command-wrapper {
    display: flex;
    align-items: center;

    background-color: $grey1;
    height: 5vh;
    width: 100%;

    margin: 0;
}

.links-wrapper {
    display: flex;

    height: 7vh;
    width: 100%;
    margin: 0;
}

//animations

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
