// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "_variables";

.navbar {
    display: flex;
    justify-content: space-between;

    padding: 5px;
    border-bottom: 2px solid $grey1;

    position: relative;
    left: 0;
    top: 0;
    &Logo {
        display: flex;
        padding-left: 2%;
        &Icon {
            max-width: 55px;
        }
        &Text {
            font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;

            font-weight: 600;
            font-size: 250%;
            margin: 0;

            color: $grey4;

            user-select: none;
        }
    }
    &Links {
        display: flex;
        align-items: center;
        padding-right: 2%;
        &LinkWrapper {
            height: 70%;
            width: auto;

            margin: 0px 10px;
            padding: 5px 10px;

            display: flex;
            align-items: center;

            background-color: #FFFF;

            border-radius: 10px;

            transition: 0.2s;
            &:hover {
                background-color: $blue;

                .navbar-links-link {
                    color: $grey2;
                }
            }
        }
        &Link {
            font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        
            font-weight: 500;
            font-size: 150%;

            color: $grey4;

            text-decoration: none;


            display: flex;
            align-items: center;
        }
    }
}