@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --red: #ffb2b2;
    --red2: hsl(0, 100%, 75%);
    --yellow: #fffeb3;
    --blue: #b3e1ff;

    --grey1: #979797;
    --grey2: #646464;
    --grey3: #333333;
    --grey4: #1e1e1e;
}

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.body {
    margin: 0;

    display: flex;
}

.page {
    margin-left: 50px;
    margin-bottom: 50px;

    max-width: 70vw;
}
